In [22]:
import pandas as pd
from sqlalchemy import create_engine

download taxi zone lookup data from https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page

In [24]:
! wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv -O taxi_zone_lookup.csv

--2025-01-26 18:11:40--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 2600:9000:224a:1400:b:20a5:b140:21, 2600:9000:224a:e400:b:20a5:b140:21, 2600:9000:224a:a400:b:20a5:b140:21, ...
connected. to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|2600:9000:224a:1400:b:20a5:b140:21|:443...
200 OKequest sent, awaiting response...
Length: 12331 (12K) [text/csv]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.04K  --.-KB/s    in 0s

2025-01-26 18:11:40 (11.5 GB/s) - ‘taxi_zone_lookup.csv’ saved [12331/12331]

Read the data from the csv file

In [25]:
df_zones = pd.read_csv("taxi_zone_lookup.csv")

In [26]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

create the postgres engine

In [27]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

## create SQL statement for new table schema

We put the data into postgres at once, and replace if exists.

In [28]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265